{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "editor.formatOnSave": true,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.html", "*.css", "*.json", "*.md"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.java", "*.c", "*.cpp", "*.h", "*.hpp", "*.py"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}